<ion-view view-title="Eventos">
    <ion-content class="calendar">
        <div class="list">
            <div class="item item-divider">
                Septiembre </div>
            <a class="item item-icon-left ">
                <span class="event-day">23</span>
                <h2>Plebiscito por la paz</h2>
                <p>Lugar</p>
                <p>Sábado</p>
            </a>
            <a class="item text-center">24 ... 30</a>
            <a class="item item-icon-left " >
                <span class="event-day">31</span>
                <h2>Plebiscito por la paz</h2>
                <p>Lugar</p>
                <p>Sábado</p>
            </a>
             <div class="item item-divider">
                Octubre </div>
        </div>
    </ion-content>
</ion-view>
